@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Slate */
  --slate-900: #0F172A;
  --slate-800: #1E293B;
  --slate-500: #64748B;
  --slate-300: #CBD5E1;
  --slate-200: #E2E8F0;
  --slate-100: #F1F5F9;
  --slate-50: #F8FAFC;

  /* Violet */
  --violet-600: #7C3AED;
  --violet-100: #EDE9FE;

  /* Rose */
  --rose-500: #F43F5E;

  /* Lime */
  --lime-300: #BEF264;

  /* Amber */
  --amber-800: #92400E;

  --yellow-50: #FEFCE8;
}
