.todoListWrapper {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* 744px 이상일 때 */
@media (min-width: 744px) {
  .todoListWrapper {
    flex-direction: row;
  }
}

.todoListSection {
    flex: 1;
}

.emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyImage {
    width: 240px;
    height: 240px;

}

.todoList>li {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 6px;
    border: 2px solid var(--slate-900);
    border-radius: 100px;
    padding: 12px 9px;
}

.completed {
    background-color: var(--violet-100);
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;

  width: 32px;
  height: 32px;

  border: 2px solid #000;
  border-radius: 50%;
  background: var(--yellow-50);

  cursor: pointer;
  position: relative;
}

.checkbox:checked::after {
  content: "";
  position: absolute;

  background: var(--violet-600);
  background-image: url("/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  border-radius: 50%;

  width: 32px;
  height: 32px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todoLink {
    text-decoration: none;
    color: var(--slate-800);
}